---
import '../global.css';

// 1. On définit les variables que chaque page devra fournir
interface Props {
	title: string;
	description?: string; // Le ? veut dire que c'est optionnel
}

// 2. On récupère les valeurs envoyées par la page
const { title, description = "Jour de Chance - Expert en opportunités." } = Astro.props;
---

<!doctype html>
<html lang="fr"> <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="description" content={description} />
		
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
	</head>
	<body>
		<slot />
	</body>
</html>